body {
    margin: 0;
    color: #000;
    background-color: aliceblue;
}
.modificador {
    margin: 0;
    padding: 0;
}
/* Reusable */

/* Cabecera */
.header {
    width: 100%;
    height: calc(100vh - 20px);
    text-align: center;
    position: relative;
}
.header__title {
    margin: 20px;
    font-size: calc( 4vw + 1em);
}
.header__nav__enlaces {
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header__nav__enlaces a {
    margin: 10px;
    color: inherit;
    text-decoration: none;   
}
.header__contenedor__img {
    width: 100%;
    height: 300px;
    position: relative;
}
.contenedor__img {
    width: calc(30vw + 80px);
    filter: drop-shadow(3px 3px 4px black);
    position: relative;
    margin-top: 40px;
}

/* Cuerpo */
.main {
    width: 100%;
    height: 100vh;
    position: relative;
}
.main--ctitle {
    width: 500px;
    position: relative;
    top: 50px;
    left: 50px;
    font-size: calc(1vw + 1em);
}

/* temas sesion */
.main__temas {
    width: 90vw;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;    align-items: center;
}
.main__temas--seccion {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Cajas */
.main__seccion--cajas {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #08f2;
    border-radius: 10px;
}
.cajas--img {
    width: 150px;
    filter: drop-shadow(0 0 4px );
}
/* Tesmas Descripción */
.main__representacion {
    width: 100%;
    height: 100Vh;
    display: flex;
    align-items: center;

}
.representacion__contenedor__img {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.representacion--img {
    width: 300px;
    filter: drop-shadow(5px 5px 5px);
}

.main__descripcion {
    width: 100%;
    height: 100vh;
}
.main__descripcion__img {
    width:  40vw;
    position: relative;
    top: 50px;
    left: 50px;
}
.descripcion__img--experiencia {
    width: 300px;
    min-width: 10vw;
}
.descripcion__notas {
    width: 50vw;
    height: 200px;
    display: flex;
    position: relative;
    left: 300px;
    border: 1px solid;
}
/*
Cuando la oración es afirmativa, la pregunta es negativa, cuando la oración es negativa, la pregunta es afirmativa.

Si un verbo auxiliar está presente en una oración, es lo mismo en la etiqueta de pregunta.

Si el verbo auxiliar no está en la oración, tenemos que usar do o did */