body {
    margin: 0;
    color: #000;
    background-color: aliceblue;
}
.modificador {
    margin: 0;
    padding: 0;
}
/* Reusable */
.filter--shadow {
    filter: drop-shadow(3px 3px 4px black);
}
/* Cabecera */
.header {
    width: 100%;
    height: calc(100vh - 20px);
    text-align: center;
    position: relative;
}
.header__title {
    margin: 20px;
    font-size: calc( 4vw + 1em);
}
.header__nav__enlaces {
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header__nav__enlaces a {
    margin: 10px;
    color: inherit;
    text-decoration: none;   
}
.header__contenedor__img {
    width: 100%;
    height: 300px;
    position: relative;
}
.contenedor__img {
    width: calc(30vw + 80px);
    position: relative;
    margin-top: 40px;
}

/* Cuerpo */
.main {
    width: 100%;
    height: 100vh;
    position: relative;
}
.main--ctitle {
    width: 90vw;
    margin: 50px 0 0 50px;
    display: inline-block;

    font-size: calc(1vw + 1em);
}

/* temas sesion */
.main__temas {
    width: 90vw;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;    align-items: center;
}
.main__temas--seccion {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Cajas */
.main__seccion--cajas {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #08f2;
    border-radius: 10px;
}
.cajas--img {
    width: 150px;
    filter: drop-shadow(0 0 4px );
}
/* Tesmas Descripción */
.main__representacion {
    width: 100%;
    height: 100Vh;
    display: flex;
    align-items: center;

}
.representacion__contenedor__img {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.representacion--img {
    width: 300px;
    filter: drop-shadow(5px 5px 5px);
}

.main__descripcion {
    width: 100%;
    height: 100vh;
}
.main--ctitle .title {
    text-align: center;
}

.descripcion__notas {
    width: 90vw;
    height: max-content;
    padding: 10px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.descripcion--notas {
    width: 250px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    background: #08f2;
    border-radius: 10px;
    font-size: 1.2em;
    overflow: auto;
    
}
.notas__img {
    margin: 30px 30px 0 30px;
}

/* Carreras UX */
.main__carreras__ux {
    width: 100%;
    height: 100vh;
}

.carreras__ux {
    width: 95vw;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}
.carrera {
    width: 350px;
    height: 430px;
    margin: 55px 60px;
    display: inline-block;
    background: #08f2;
    border-radius: 10px;
}
.carrera__ux__ctitle {
    width: 100%;
    padding: 10px;
    text-align: center;
}
.carrera__ux__img {
    width: 100%;
    height: max-content;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrera__ux--img {
    width: 100px;
}
.carrera__ux--txt {
    width: 100%;
    height: 232px;
    padding: 10px;
    text-align: center;

}
.inline__block{
    display: inline-block;
    color: rebeccapurple;
}